@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

body {
  background: linear-gradient(90deg, rgba(50,45,136,1) 0%, rgba(20,32,33,1) 47%, rgba(7,54,64,1) 100%);
}

h1{
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
